.formRow {
  padding-top:1rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 30rem;
  margin: 0 auto;
}

.formRow > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formRow div svg {
  align-self: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  width: 100%;
}