.input {
    background: transparent;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
    color: var(--default);
    border-bottom: 0.2rem solid transparent;
    outline: none;
    transition: all 300ms ease-in-out;
}

.input:focus {
    border: 0.2rem solid var(--primary);
    border-radius: 0.8rem;
}

.input::placeholder {
    font-style: italic;
    font-size: 1.4rem;
    color: var(--gray-500);
}